* {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(
			0deg,
			rgba(221, 206, 242, 0.33),
			rgba(221, 206, 242, 0.33)
		),
		linear-gradient(0deg, rgba(227, 220, 242, 0.66), rgba(227, 220, 242, 0.66)),
		rgba(130, 124, 166, 0.1);
	text-align: justify;
}

section.intro > p {
    text-align: justify;
    margin:  5% 0 5% 0;
}

header#cabecalho {
	min-width: 150px;
	background-color: #ddcef2;
	margin-bottom: 25px;
	padding: 15px;
	text-align: center;
}

section.intro {
	text-align: center;
}

main#container {
	min-width: 300px;
	max-width: 1000px;
	background-color: #bfb6d4;
	padding: 20px;
	margin: auto auto 30px;
	box-shadow: 0px 0px 10px rgb(0 0 0 / 47%);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.blocovela {
	border: red 2px solid;
	min-width: 220px;
	display: inline-block;

	margin: 10px;
}

.blocovela > div {
	padding: 10px;
}

.inline {
	display: inline-block;
}

footer {
	background-color: #7859be;
	color: #ffff;
	text-align: center;
	font-size: 0.8em;
	padding: 5px;
}

.card {
	align-items: center;
}

div.card {
	padding: 5px;
	margin: 10px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.13);
}

footer div {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
